
<!-- Bootstrap Core CSS -->
<!-- <link href="lib/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!-- <link href="lib/css/sb-admin.css" rel="stylesheet">

<link href="lib/drag-and-drop/simple.css" rel="stylesheet">

<!-- Custom Fonts -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

<body ng-controller="solveExercisesCtrl">

	<div id="spinner" ng-show="dataLoading" class="loading">Loading&#8230;</div>

	<div class="row"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2">
                <a class="navbar-brand">Menu</a> 
            </div>
            <div>
                <a class="navbar-brand"><i class="fa fa-bars"></i> Web Platform for English Learning</a> 
            </div>
            
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <a class="navbar-brand">Welcome {{loggedUser.nome}}!</a> 
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<li ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="exercisesManagement"><i class="fa fa-fw fa-edit"></i> Lesson Management</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Teacher'"> 
                        <a ui-sref="invitation"><i class="fa fa-fw fa-users"></i> Invitation</a>
                    </li>
                    <li class="active" ng-if="loggedUser.tipoConta == 'Student'">
                        <a ui-sref="solveExercises"><i class="fa fa-fw fa-puzzle-piece"></i> Lesson Resolution</a>
                    </li>
                    <li>
                        <a ui-sref="performance"><i class="fa fa-fw fa-line-chart"></i> Performance Report</a>
                    </li>
                    <li>
                        <a ui-sref="ranking"><i class="fa fa-fw fa fa-trophy"></i> Ranking</a>
                    </li>
                    
                    <li>
                        <a ui-sref="personalData"><i class="fa fa-fw fa-address-book"></i> Personal Data</a>
                    </li>
                    <li>
                        <a ui-sref="forumMain"><i class="fa fa-fw fa-comments"></i> Forum</a>
                    </li>
                    <li>
                        <a ui-sref="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
        
       		<form name="exercisesForm" role="form">

	            <div class="container-fluid">
	
	                <!-- Page Heading --> 
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                            Oral Production
	                        </h1>
	                        <ol class="breadcrumb">
	                            <li>
	                                <i class="fa fa-home"></i>  <a ui-sref="main">Home</a>
	                            </li>
	                            <li>
	                                <i class="fa fa-puzzle-piece"></i>  <a ui-sref="solveExercises">Lesson Resolution</a>
	                            </li>
	                            <li>
	                                <i class="fa fa-comments"></i> <a ui-sref="resolveExerciseVocabulary">Vocabulary Practice</a>
	                            </li>
	                            <li>
	                                <i class="fa fa-headphones"></i> <a ui-sref="resolveExerciseLyrics">Listening Practice</a>
	                            </li>
	                            <li>
	                                <i class="fa fa-language"></i> <a ui-sref="resolveExerciseLanguage">Grammar Practice</a>
	                            </li>
	                            <li>
	                                <i class="fa fa-book"></i> <a ui-sref="resolveExerciseReading">Reading Practice</a>
	                            </li>
	                            <li class="active">
	                                <i class="fa fa-microphone"></i> Oral Production
	                            </li>
	                        </ol>
	                    </div>
	                </div>
	                <!-- /.row -->
	                
	                <div ng-show="error" class="alert alert-danger">{{error}}</div>
	                
	                <div>
						
		               	<div class="row">
		               	
			               	<div class="col-md-12">
								<b>Say aloud the correct word to complete the lines of the lyrics.</b> <img ng-if="!speaking" src="img/mic.gif"><img ng-if="speaking" src="img/mic-animate.gif"><br>
			   				</div>
			               	
		               		<div class="col-md-12" style="text-align: right;">
		               			<a ui-sref="resolveExerciseReading" href="#">
			   						<input class="btn btn-md btn-primary" type="button" value="Back"/>
								</a>
								<input type="button" ng-click="goToWriting()" class="btn btn-md btn-primary" value="Next"/>
			   				</div>
			   				
		               	</div><br>
		               	
		               	<div class="row" style="margin-top: 10px;" ng-repeat="question in pronunciationQuestoes | orderBy:['sequencia']">
		               	
		               		<div class="col-md-12">
		               			<span>{{$index + 1}})</span>
		               			<span ng-repeat="part in question.pronunciationQuestaoPartes | orderBy:['sequencia']">
		               				<span ng-if="part.tipo == 'Sentence'">{{part.descricao}}</span>
		               				<input type="submit" ng-click="dictateIt(part)" ng-if="part.tipo == 'Gap' && part.resposta != ''" style="background-color: #eee6e6;" value="{{part.resposta}}" ng-class="exerciseSubmitted && part.tipo == 'Gap' ? (part.resposta | uppercase | removeSpaces) == (part.descricao | uppercase | removeSpaces) ? 'correctOption' : 'wrongOption' : ''" ng-disabled="exerciseSubmitted"/>
		               				<input type="submit" ng-click="dictateIt(part)" ng-if="part.tipo == 'Gap' && part.resposta == ''" style="background-color: #eee6e6;" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
	               				</span>
		               		</div>
		               	
		               	</div>
		               	
		 			</div>
	                
	            </div>
	            <!-- /.container-fluid -->
	            
            </form>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div ng-init="initPronunciation()"></div>

</body>