
<!-- Bootstrap Core CSS -->
<!--<link href="lib/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!--<link href="lib/css/sb-admin.css" rel="stylesheet">

<!-- Custom Fonts -->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

<style>

	.list-group{
		margin-top: 20px;
	}
	
</style>

<body ng-controller="solveExercisesCtrl">

<div id="spinner" ng-show="dataLoading" class="loading">Loading&#8230;</div> 

	<div class="row"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2">
                <a class="navbar-brand">Menu</a> 
            </div>
            <div>
                <a class="navbar-brand"><i class="fa fa-bars"></i> Web Platform for English Learning</a> 
            </div>
            
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <a class="navbar-brand">Welcome {{loggedUser.nome}}!</a> 
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<li ng-if="loggedUser.tipoConta == 'Teacher'"> 
                        <a ui-sref="exercisesManagement"><i class="fa fa-fw fa-edit"></i> Lesson Management</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="invitation"><i class="fa fa-fw fa-users"></i> Invitation</a>
                    </li>
                    <li class="active" ng-if="loggedUser.tipoConta == 'Student'">
                        <a ui-sref="solveExercises"><i class="fa fa-fw fa-puzzle-piece"></i> Lesson Resolution</a>
                    </li>
                    <li>
                        <a ui-sref="performance"><i class="fa fa-fw fa-line-chart"></i> Performance Report</a>
                    </li>
                    <li>
                        <a ui-sref="ranking"><i class="fa fa-fw fa fa-trophy"></i> Ranking</a>
                    </li>
                    
                    <li>
                        <a ui-sref="personalData"><i class="fa fa-fw fa-address-book"></i> Personal Data</a>
                    </li>
                    <li>
                        <a ui-sref="forumMain"><i class="fa fa-fw fa-comments"></i> Forum</a>
                    </li>
                    <li>
                        <a ui-sref="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
        
       		<form name="exercisesForm" role="form">

	            <div class="container-fluid">
	
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                            Lesson Resolution
	                        </h1>
	                        <ol class="breadcrumb">
	                            <li>
	                                <i class="fa fa-home"></i>  <a ui-sref="main">Home</a>
	                            </li>
	                            <li class="active">
	                                <i class="fa fa-puzzle-piece"></i> Lesson Resolution
	                            </li>
	                        </ol>
	                    </div>
	                </div>
	                <!-- /.row -->
	                
	                <div ng-show="error" class="alert alert-danger">{{error}}</div>
	                
	                <uib-tabset active="activeForm">
	                
	                	<uib-tab index="0" heading="All lessons">
	                	
	                		<br ng-if="allExercises.length == 0">
	                	
	                		<div ng-show="allExercises.length == 0" class="alert alert-info">There aren't unassigned exercises to be resolved.</div>

							<div ng-show="allExercises.length > 0">
		
								<div class="row">
		
									<br>
		
									<div class="col-md-12" style="text-align: right;">
										<input type="submit" ng-disabled="!unassignedExerciseSelected"
											ng-click="answerUnassignedExercise()"
											class="btn btn-md btn-primary" value="Answer" />
									</div>
		
								</div>
		
								<div class="list-group">
									<a ng-repeat="exercise in allExercises"
										ng-click="$parent.unassignedExerciseSelected = exercise; selectExercise(unassignedExerciseSelected)"
										class="list-group-item"
										ng-class="{active:unassignedExerciseSelected==exercise}">
										{{exercise.musica.nome}} - Level {{exercise.nivel}}</a>
								</div>
		
							</div>	
	                	
	                	</uib-tab>
	                	<uib-tab index="1" heading="Lessons assigned to me">
	                	
	                		<div ng-show="exercisesAssigned.length == 0" class="alert alert-info">You don't have any lesson to resolve.</div>

							<div ng-show="exercisesAssigned.length > 0">
		
								<div class="row">
		
									<br>
		
									<div class="col-md-12" style="text-align: right;">
										<input type="submit" ng-disabled="!assignedExerciseSelected"
											ng-click="goToExerciseResolution()"
											class="btn btn-md btn-primary" value="Answer" />
									</div>
		
								</div>
		
								<div class="list-group">
									<a ng-repeat="exercise in exercisesAssigned"
										ng-click="$parent.assignedExerciseSelected = exercise; selectExercise(assignedExerciseSelected)"
										class="list-group-item"
										ng-class="{active:assignedExerciseSelected==exercise}">
										{{exercise.exercicio.musica.nome}} - Level {{exercise.exercicio.nivel}} </a>
								</div>
		
							</div>

					</uib-tab>
	                
	                </uib-tabset>
	                
	            </div>
	            <!-- /.container-fluid -->
	            
            </form>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div ng-init="init()"></div>

</body>