
<!-- Bootstrap Core CSS -->
<!-- <link href="lib/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!-- <link href="lib/css/sb-admin.css" rel="stylesheet">

<link href="lib/drag-and-drop/simple.css" rel="stylesheet">

<!-- Custom Fonts -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

<body ng-controller="solveExercisesCtrl">

	<div class="row"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2">
                <a class="navbar-brand">Menu</a> 
            </div>
            <div>
                <a class="navbar-brand"><i class="fa fa-bars"></i> Web Platform for English Learning</a> 
            </div>
            
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <a class="navbar-brand">Welcome {{loggedUser.nome}}!</a> 
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<li ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="exercisesManagement"><i class="fa fa-fw fa-edit"></i> Lesson Management</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Teacher'"> 
                        <a ui-sref="invitation"><i class="fa fa-fw fa-users"></i> Invitation</a>
                    </li>
                    <li class="active" ng-if="loggedUser.tipoConta == 'Student'">
                        <a ui-sref="solveExercises"><i class="fa fa-fw fa-puzzle-piece"></i> Solve Lessons</a>
                    </li>
                    <li>
                        <a ui-sref="performance"><i class="fa fa-fw fa-line-chart"></i> Performance Report</a>
                    </li>
                    <li>
                        <a ui-sref="ranking"><i class="fa fa-fw fa fa-trophy"></i> Ranking</a>
                    </li>
                    
                    <li>
                        <a ui-sref="personalData"><i class="fa fa-fw fa-address-book"></i> Personal Data</a>
                    </li>
                    <li>
                        <a ui-sref="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
        
       		<form name="exercisesForm" role="form">

	            <div class="container-fluid">
	
	                <!-- Page Heading --> 
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                            Reading Practice
	                        </h1>
	                        <ol class="breadcrumb">
	                            <li>
	                                <i class="fa fa-home"></i>  <a ui-sref="main">Home</a>
	                            </li>
	                            <li>
	                                <i class="fa fa-edit"></i>  <a ui-sref="solveExercises">Solve Lessons</a>
	                            </li>
	                            <li class="active">
	                                <i class="fa fa-edit"></i> Reading Practice
	                            </li>
	                        </ol>
	                    </div>
	                </div>
	                <!-- /.row -->
	                
	                <div ng-show="error" class="alert alert-danger">{{error}}</div>
	                
	                <div>
						
		               	<div class="row">
		               	
			               	<img ng-show="dataLoading" src="img/loading-animation-square.gif"/>
			               	
			               	<div class="col-md-12">
								<b>Read the lyrics of the song and choose the best alternative to the sentences.</b>
			   				</div>
			               	
		               		<div class="col-md-12" style="text-align: right;">
		               			<a ui-sref="resolveExerciseLanguage" href="#">
			   						<input class="btn btn-md btn-primary" type="submit" value="Back"/>
								</a>
								<input type="submit" ng-click="goToQuestionsResolution()" class="btn btn-md btn-primary" value="Next activity"/>
								<input type="submit" ng-click="goToOralPrdocution()" class="btn btn-md btn-primary" value="Oral Production"/>
			   				</div>
			   				
							<div class="col-md-12">
								&nbsp;
			   				</div>			   				
			   				
			   				<div class="col-md-6" align="center">
			   				
			   					<b style="color: red;">Wish You Were Here</b> <b>- Pink Floyd</b>
			   					
			   					<br><br> 
								
								So, so you think you can tell<br>
								Heaven from hell<br>
								Blue skies from pain<br>
								Can you tell a green field<br>
								From a cold steel rail<br>
								A smile from a veil<br>
								Do you think you can tell<br><br>
								
								Did they get you to trade<br>
								Your heroes for ghosts<br>
								Hot ashes for trees<br>
								Hot air for a cool breeze<br>
								Cold comfort for change<br>
								Did you exchange<br>
								A walk on part in the war<br>
								For a lead role in a cage<br><br>
								
								How I wish<br>
								How I wish you were here<br>
								We're just two lost souls<br>
								Swimming in a fish bowl<br>
								Year after year<br>
								Running over the same old ground<br>
								What have we found<br>
								The same old fears<br>
								Wish you were here<br>
								
			   				</div>
			   				
			   				<div class="col-md-6">
			   				
			   					<label>1) The first verse of the song talks about:</label>
							    <div class="radio">
							        <label>
							            <input type="radio">a) distinct things  
							        </label><br>
							        <label>
							            <input type="radio">b) similar things 
							        </label><br>
							        <label>
							            <input type="radio">c) business 
							        </label><br>
							        <label>
							            <input type="radio">d) missing someone 
							        </label>
							    </div>
			   				
			   				</div>
			   				
			   				<div class="col-md-6">
			   				
			   					<label>2) The second verse talks about:</label>
							    <div class="radio">
							        <label>
							            <input type="radio">a) missing someone  
							        </label><br>
							        <label>
							            <input type="radio">b) similar things 
							        </label><br>
							        <label>
							            <input type="radio">c) business 
							        </label><br>
							        <label>
							            <input type="radio">d) choices in life 
							        </label>
							    </div>
			   				
			   				</div>
			   				
			   				<div class="col-md-6">
			   				
			   					<label>3) The third verse talks about:</label>
							    <div class="radio">
							        <label>
							            <input type="radio">a) missing someone  
							        </label><br>
							        <label>
							            <input type="radio">b) distinct things 
							        </label><br>
							        <label>
							            <input type="radio">c) business 
							        </label><br>
							        <label>
							            <input type="radio">d) choices in life 
							        </label>
							    </div>
			   				
			   				</div>
			   				
		               	</div><br>
		               	
		 			</div>
	                
	            </div>
	            <!-- /.container-fluid -->
	            
            </form>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div ng-init="initSong()"></div>

</body>