
<!-- Bootstrap Core CSS -->
<!-- <link href="lib/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!-- <link href="lib/css/sb-admin.css" rel="stylesheet">

<!-- Custom Fonts -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --> 

<style>

	.list-group{
		margin-top: 20px;
	}
	
	.activated{
	    background:#d9edf7;
	    border:1px solid;
	}

</style>

<body ng-controller="invitationCtrl">

	<div class="row"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2">
                <a class="navbar-brand">Menu</a> 
            </div>
            <div>
                <a class="navbar-brand"><i class="fa fa-bars"></i> Web Platform for English Learning</a> 
            </div>
            
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <a class="navbar-brand">Welcome {{loggedUser.nome}}!</a> 
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<li ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="exercisesManagement"><i class="fa fa-fw fa-edit"></i> Manage Exercises</a>
                    </li>
                    <li class="active" ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="invitation"><i class="fa fa-fw fa-users"></i> Invitation</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Student'">
                        <a ui-sref="solveExercises"><i class="fa fa-fw fa-puzzle-piece"></i> Solve Exercises</a>
                    </li>
                    <li>
                        <a ui-sref="performance"><i class="fa fa-fw fa-line-chart"></i> Performance Report</a>
                    </li>
                    <li>
                        <a ui-sref="ranking"><i class="fa fa-fw fa fa-trophy"></i> Ranking</a>
                    </li>
                    
                    <li>
                        <a ui-sref="personalData"><i class="fa fa-fw fa-address-book"></i> Personal Data</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
        
       		<form name="exercisesForm" role="form">

	            <div class="container-fluid">
	
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                            Students Invitation
	                        </h1>
	                        <ol class="breadcrumb">
	                            <li>
	                                <i class="fa fa-home"></i>  <a ui-sref="main">Home</a>
	                            </li>
	                            <li class="active">
	                                <i class="fa fa-users"></i> Students Invitation
	                            </li>
	                        </ol>
	                    </div>
	                </div>
	                <!-- /.row -->
	                
	                <div ng-show="error" class="alert alert-danger">{{error}}</div>
	                
	                <div ng-show="invitationSuccess" class="alert alert-info">The invitations were successfully sent.</div>
	                
	                <div>
						<form name="mainForm" role="form">
						
			               	<div class="row">
			               	
				               	<img ng-show="dataLoading" src="img/loading-animation-square.gif"/>
				               	
			               		<div class="col-md-12" style="text-align: right; margin-bottom: 10px;">
				   					<input ng-click="sendInvite()" type="submit" class="btn btn-md btn-primary" value="Send Invite"/>
				   				</div>
			   				
			               	</div>
			               	
			               	<div class="col-md-12" style="border: 2px groove">
		               			<fieldset class="scheduler-border">
									<legend class="scheduler-border">Student</legend>
									<div class="row">
										<div class="col-xs-6 form-group">
											<label>Name</label>
											<input ng-model="name" class="form-control" type="text" maxlength="50"/>
										</div>
										<div class="col-xs-4 form-group">
											<label>Email</label>
											<input ng-model="email" class="form-control" type="text" maxlength="50"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 form-group" style="text-align: right;">
											<button type="button" class="btn btn-default" ng-click="searchStudents()">Search</button>
										</div>
									</div>
								</fieldset>
								
								<table id="example" class="table table-bordered" style="text-align: center;" cellspacing="0" width="100%">
							        <thead>
							            <tr style="background-color: #2b567a; color: white;">
							            	<th style="text-align: center;" class="col-xs-1 form-group">
							            		<input ng-model="allSelected" ng-change="selectAll()" type="checkbox"/>
						            		</th>
							                <th style="text-align: center;">Name</th>
							                <th style="text-align: center;">Email</th>
							            </tr>
							        </thead>
							        <tbody>
										<tr ng-class="{activated:$index==selectedRow}" data-ng-click="rowHighilited($index)" data-ng-repeat="student in students">
											<td><input ng-model="student.selected" ng-change="deselectHeader()" type="checkbox"/></td>
											<td>{{student.nome}}</td>
											<td>{{student.email}}</td>
										</tr>
										<tr ng-if="students.length == 0">
											<td colspan="3">
												No records found
											</td>
										</tr>
									</tbody>
					            </table>
								
								
		               		</div>
			               	
		               	</form>
		 			</div>
	                
	            </div>
	            <!-- /.container-fluid -->
	            
            </form>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div ng-init="init()"></div>

</body>