
<!-- Bootstrap Core CSS -->
<!-- <link href="lib/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!-- <link href="lib/css/sb-admin.css" rel="stylesheet">

<!-- Custom Fonts -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --> 

<style>

	textarea {
	   resize: none;
	}
	
	.scrolly {
	    overflow-y:auto !important;
	    max-height: 170px;
	}
	
</style>

<body ng-controller="exercisesMgmtCtrl">

	<div id="spinner" ng-show="dataLoading" class="loading">Loading&#8230;</div>

	<div class="row"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2">
                <a class="navbar-brand">Menu</a> 
            </div>
            <div>
                <a class="navbar-brand"><i class="fa fa-bars"></i> Web Platform for English Learning</a> 
            </div>
            
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <a class="navbar-brand">Welcome {{loggedUser.nome}}!</a> 
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<li class="active" ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="exercisesManagement"><i class="fa fa-fw fa-edit"></i> Lesson Management</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="invitation"><i class="fa fa-fw fa-users"></i> Invitation</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Student'"> 
                        <a ui-sref="solveExercises"><i class="fa fa-fw fa-puzzle-piece"></i> Lesson Resolution</a>
                    </li>
                    <li>
                        <a ui-sref="performance"><i class="fa fa-fw fa-line-chart"></i> Performance Report</a>
                    </li>
                    <li>
                        <a ui-sref="ranking"><i class="fa fa-fw fa fa-trophy"></i> Ranking</a>
                    </li>
                    
                    <li>
                        <a ui-sref="personalData"><i class="fa fa-fw fa-address-book"></i> Personal Data</a>
                    </li>
                    <li>
                        <a ui-sref="forumMain"><i class="fa fa-fw fa-comments"></i> Forum</a>
                    </li>
                    <li>
                        <a ui-sref="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 ng-if="!exercicio.idExercicio" class="page-header">
                            Lesson Management - New Lesson
                        </h1>
                        <h1 ng-if="exercicio.idExercicio" class="page-header">
                            Lesson Management - Edit Lesson
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>  <a ui-sref="main">Home</a>
                            </li>
                            <li>
                                <i class="fa fa-edit"></i>  <a ui-sref="exercisesManagement">Lesson Management</a>
                            </li>
                            <li ng-if="!exercicio.idExercicio" class="active">
                                <i class="fa fa-sticky-note-o"></i> New
                            </li>
                            <li ng-if="exercicio.idExercicio" class="active">
                                <i class="fa fa-sticky-note-o"></i> Edit
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                <div ng-show="error" class="alert alert-danger">{{error}}</div>
                
                <div ng-show="exerciseSaved" class="alert alert-info">Lesson successfully saved.</div>
                
                <div>
					
					<form name="mainForm" role="form">
					
		               	<div class="row">
		               	
		               		<div class="col-md-12" style="text-align: right;">
		               			<input type="button" ng-if="exercicio.musica.nome" class="btn btn-md btn-primary" data-toggle="modal" data-target="#musicModal" value="Edit song"/>
		               			<a ui-sref="exercisesManagement" href="#">
			   						<input class="btn btn-md btn-primary" type="submit" value="Cancel"/>
								</a>
								<input type="button" ng-disabled="mainForm.$invalid || formMusic.$invalid" ng-click="saveExercise()" class="btn btn-md btn-primary" value="Save"/>
			   				</div>
			   				
			   				<div class="col-md-12">
		               			<fieldset class="scheduler-border">
									<legend class="scheduler-border">Lesson</legend>
									<div class="row">
										<div class="col-xs-3 form-group">
											<label>Level *</label>
											<select ng-model="exercicio.nivel" class="form-control selectpicker" required>
												<option value="">Select a value</option>
												<option>Basic</option>
												<option>Intermediate</option>
												<option>Advanced</option>
											</select>
										</div>
									</div>
								</fieldset>
		               		</div>
		               		
		               		<div ng-if="!exercicio.musica.nome" class="col-md-12">
								<p style="font-weight: bold;">Song</p>
								<p>There isn't any song attached to this lesson.</p>
								<p><button type="button" ng-click="clearMusicModal()" class="btn btn-default">Add song</button></p>
		               		</div>
		               		<div ng-if="exercicio.musica.nome" class="col-md-12">
								<p style="font-weight: bold;">Song</p>
								<p>{{exercicio.musica.nome}} - <a target="_blank" ng-attr-href="{{exercicio.musica.link}}">Link</a></p>
		               		</div>
		   				
		   					<div class="col-md-12">
		   						<p style="font-weight: bold;">Questions</p>
		   					</div>
		               		
		               		<div class="col-md-12">
								<p>
									<button type="button" ng-click="activitiesModal()" class="btn btn-default">Activities</button>
								</p>
		               		</div>
		               		
		               	</div>
		               	
	   				</form>
	   				
	   				<!-- Activities Modal -->
					<div id="activitiesModal" class="modal fade" data-backdrop="static" role="dialog">
						<div class="modal-dialog modal-lg" style="width: 1000px !important;">
							<form name="activitiesForm" role="form" enctype="multipart/form-data">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title" style="font-weight: bold;">Activities</h4>
									</div>
									<div class="modal-body">
											 
										<uib-tabset active="activeForm">
											<uib-tab index="0" heading="Vocabulary Practice">
											
												<div class="row">
													<div class="col-md-12 form-group">
														<div ng-show="modalError" class="alert alert-danger">{{modalError}}</div>
													</div>
												</div>
											
												<div class="row">
						                        	<div class="col-md-12 form-group">
						                                <label>Select the picture *</label>
						                                <input type="file" 
													         ngf-select 
													         ng-model="picFile" name="file"    
													         accept="image/*" 
													         ngf-max-size="2MB">
													         <i ng-show="activitiesForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i><br>
						                                <button type="button" class="btn btn-primary" ng-disabled="activitiesForm.file.$error.maxSize" ng-click="addFileToList(picFile); picFile = null;">Import File</button>
						                            </div>
												</div>
												
												<br>
												
												<div class="row">
												
													<div class="col-md-4 form-group" class="uploadedfile" ng-repeat="f in pictures track by $index">
														<div ng-show="f">
														    <!-- FILE -->
														    <div align="center">
														    	<img ng-if="!f.id" class="thumb" ngf-thumbnail="f.file">
																<img ng-if="f.id" class="thumb" ng-src="data:image/jpg;base64,{{f.base64}}"><br>
															</div>
														    
														    <div class="col-md-10 form-group">
																<input class="form-control" ng-model="f.nome" type="text" maxlength="50" required/>
															</div>
															<div>
																<button ng-click="deletePicture(f)">
														         	<i class="fa fa-trash fa-2x" style="color:red"></i>
														       </button>
															</div>
														</div>
													</div>
												
												</div>
												
											</uib-tab>
											<uib-tab index="1" heading="Listening Practice">
											
												<div class="row">
													<div class="col-md-12 form-group">
														<div ng-show="modalError" class="alert alert-danger">{{modalError}}</div>
													</div>
												</div>
												
												<div class="row">
													<div class="col-md-12 form-group">
														<label>Part of the song to be ordered (max 10 lines) *</label>
														<textarea ng-model="listeningPractice.letraOrdenar" class="form-control" rows="8"></textarea>
													</div>
												</div>
												
											</uib-tab>
											<uib-tab index="2" heading="Grammar Practice">
											
												<div class="row">
													<div class="col-md-12 form-group">
														<div ng-show="modalError" class="alert alert-danger">{{modalError}}</div>
													</div>
												</div>
												
												<div class="row">
													<div class="col-md-12">
														<fieldset class="scheduler-border">
															<legend class="scheduler-border" style="font-size: 14px;font-weight: bold;">Definitions</legend>
															
															<div class="col-md-12 form-group">
																<div class="scrolly">
																	<div class="list-group" style="margin-top: 20px;">
																	  <a ng-repeat="definition in definitions" 
																	  	 ng-click="selectDefinition(definition, $index); grammarPractice.definitionInput = definition.definicao;" 
																	  	 class="list-group-item" 
																	  	 ng-class="{active:definitionSelected == definition}">
																	  	 {{$index + 1}}) {{definition.definicao}}
																  	  </a>
																	</div>
																</div>
															</div>
															
															<div class="col-md-12 form-group" style="text-align: center;">
																<button ng-click="addDefinition()" ng-disabled="!grammarPractice.definitionInput" type="button" class="btn btn-default">Save Option</button>
																<button ng-if="definitions.length > 0" ng-click="editDefinition()" ng-disabled="!definitionSelected" type="button" class="btn btn-default">Edit</button>
																<button ng-if="definitions.length > 0" ng-click="deleteDefinition()" ng-disabled="!definitionSelected" type="button" class="btn btn-default">Delete</button>
															</div>
															
															<div class="col-md-12 form-group">
																<label>Definition</label>
																<input ng-model="grammarPractice.definitionInput" class="form-control" type="text" maxlength="500"/>
															</div>
														</fieldset>
													</div>
												</div>
												
												<div class="row">
													<div class="col-md-12">
														<br>
														<fieldset class="scheduler-border">
															<legend class="scheduler-border" style="font-size: 14px;font-weight: bold;">Alternatives</legend>
															
															<div class="col-md-12 form-group">
																<div class="scrolly">
																	<div class="list-group" style="margin-top: 20px;">
																	  <a ng-repeat="alternative in alternatives" 
																	  	 ng-click="selectAlternative(alternative, $index); grammarPractice.alternativeInput = alternative.questao; grammarPractice.alternativeAnswer = alternative.definition;" 
																	  	 class="list-group-item" 
																	  	 ng-class="{active:alternativeSelected == alternative}">
																	  	 {{alternative.questao}}
																  	  </a>
																	</div>
																</div>
															</div>
															
															<div class="col-md-12 form-group" style="text-align: center;">
																<button ng-click="addAlternative()" ng-disabled="!grammarPractice.alternativeInput || !grammarPractice.alternativeAnswer" type="button" class="btn btn-default">Save Option</button>
																<button ng-if="alternatives.length > 0" ng-click="editAlternative()" ng-disabled="!alternativeSelected" type="button" class="btn btn-default">Edit</button>
																<button ng-if="alternatives.length > 0" ng-click="deleteAlternative()" ng-disabled="!alternativeSelected" type="button" class="btn btn-default">Delete</button>
															</div>
															
															<div>
																<div class="col-md-10 form-group">
																	<label>Alternative</label>
																	<input class="form-control" type="text" maxlength="500" ng-model="grammarPractice.alternativeInput"/>
																</div>
																<div class="col-md-2 form-group">
																	<label>Answer</label>
																	<select class="form-control selectpicker" ng-model="grammarPractice.alternativeAnswer">
																		<option value="">Select a value</option>
																		<option ng-repeat="definition in definitions" value="{{$index}}">{{$index + 1}}</option>
																	</select>
																</div>
															</div>
															
														</fieldset>
													</div>
												</div>
											
											</uib-tab>
											<uib-tab index="3" heading="Reading Practice">
											
												<div class="row">
													<div class="col-md-12 form-group">
														<div ng-show="modalError" class="alert alert-danger">{{modalError}}</div>
													</div>
												</div>
											
												<div class="row">
													<div class="col-md-12">
														<fieldset class="scheduler-border">
															<legend class="scheduler-border" style="font-size: 14px;font-weight: bold;">Questions</legend>
															
															<div class="col-md-12 form-group">
																<div class="scrolly">
																	<div class="list-group" style="margin-top: 20px;">
																	  <a ng-repeat="question in readingQuestions" 
																	  	 ng-click="selectQuestion(question, $index); grammarPractice.readingQuestionInput = question.pergunta;" 
																	  	 class="list-group-item" 
																	  	 ng-class="{active:questionSelected == question}">
																	  	 {{$index + 1}}) {{question.pergunta}}
																  	  </a>
																	</div>
																</div>
															</div>
															
															<div class="col-md-12 form-group" style="text-align: center;">
																<button ng-click="addQuestion()" ng-disabled="!grammarPractice.readingQuestionInput" type="button" class="btn btn-default">Save Option</button>
																<button ng-if="readingQuestions.length > 0" ng-click="editQuestion()" ng-disabled="!questionSelected" type="button" class="btn btn-default">Edit</button>
																<button ng-if="readingQuestions.length > 0" ng-click="deleteQuestion()" ng-disabled="!questionSelected" type="button" class="btn btn-default">Delete</button>
															</div>
															
															<div class="col-md-12 form-group">
																<label>Question</label>
																<input ng-model="grammarPractice.readingQuestionInput" class="form-control" type="text" maxlength="500"/>
															</div>
														</fieldset>
													</div>
												</div>	
												
												<div class="row" ng-if="questionSelected">
													<div class="col-md-12">
														<br>
														<fieldset class="scheduler-border">
															<legend class="scheduler-border" style="font-size: 14px;font-weight: bold;">Alternatives</legend>
															
															<div class="col-md-12 form-group">
																<div class="scrolly">
																	<div class="list-group" style="margin-top: 20px;">
																	  <a ng-repeat="alternative in questionSelected.readingAlternativas" 
																	  	 ng-click="selectReadingAlternative(alternative, $index); grammarPractice.readingAlternativeInput = alternative.descricao; grammarPractice.readingAlternativeAnswer = alternative.correta;" 
																	  	 class="list-group-item" 
																	  	 ng-class="{active:readingAlternativeSelected == alternative}">
																	  	 {{alternative.descricao}}
																  	  </a>
																	</div>
																</div>
															</div>
															
															<div class="col-md-12 form-group" style="text-align: center;">
																<button ng-click="addReadingAlternative()" ng-disabled="!grammarPractice.readingAlternativeInput || !grammarPractice.readingAlternativeAnswer" type="button" class="btn btn-default">Save Option</button>
																<button ng-if="questionSelected.readingAlternativas.length > 0" ng-click="editReadingAlternative()" ng-disabled="!readingAlternativeSelected" type="button" class="btn btn-default">Edit</button>
																<button ng-if="questionSelected.readingAlternativas.length > 0" ng-click="deleteReadingAlternative()" ng-disabled="!readingAlternativeSelected" type="button" class="btn btn-default">Delete</button>
															</div>
															
															<div>
																<div class="col-md-10 form-group">
																	<label>Alternative</label>
																	<input class="form-control" type="text" maxlength="500" ng-model="grammarPractice.readingAlternativeInput"/>
																</div>
																<div class="col-md-2 form-group">
																	<label>Correct?</label>
																	<select class="form-control selectpicker" ng-model="grammarPractice.readingAlternativeAnswer">
																		<option value="">Select</option>
																		<option value="true">Yes</option>
																		<option value="false">No</option>
																	</select>
																</div>
															</div>
															
														</fieldset>
													</div>
												</div>
											
											</uib-tab>
											<uib-tab index="4" heading="Pronunciation Practice">
											
												<div class="row">
													<div class="col-md-12 form-group">
														<div ng-show="modalError" class="alert alert-danger">{{modalError}}</div>
													</div>
												</div>
											
												<div class="row">
													<div class="col-md-12">
														<fieldset class="scheduler-border">
															<legend class="scheduler-border" style="font-size: 14px;font-weight: bold;">Questions</legend>
															
															<div class="col-md-12 form-group">
																<div class="scrolly">
																	<div class="list-group" style="margin-top: 20px;">
																	  <a ng-repeat="question in pronunciationQuestions" 
																	  	 data-ng-bind-html="question.descricao"
																	  	 ng-click="selectPronunciationQuestion(question, $index);" 
																	  	 class="list-group-item" 
																	  	 ng-class="{active:pronunciationQuestionSelected == question}">
																  	  </a>
																	</div>
																</div>
															</div>
															
															<div class="col-md-12 form-group" style="text-align: center;">
																<button ng-click="addPronunciationQuestion()" ng-disabled="!allFieldsPopulated" type="button" class="btn btn-default">Save Option</button>
																<button ng-if="pronunciationQuestions.length > 0" ng-disabled="!allFieldsPopulated" ng-click="editPronunciationQuestion()" ng-disabled="!pronunciationQuestionSelected" type="button" class="btn btn-default">Edit</button>
																<button ng-click="addLine()" type="button" class="btn btn-default">Add line</button>
																<button ng-if="pronunciationQuestions.length > 0" ng-click="deletePronunciationQuestion()" ng-disabled="!pronunciationQuestionSelected" type="button" class="btn btn-default">Delete</button>
															</div>
															
															<div class="col-md-8 form-group">
																<label>Question</label>
															</div>
															<div class="col-md-2 form-group">
																<label>Type</label>
															</div>
															
															<div ng-repeat="question in pronunciationPractice.questions">
																<div class="col-md-8 form-group">
																	<input class="form-control" type="text" ng-change="evaluateFieldsPopulated()" maxlength="500" ng-model="question.descricao"/>
																</div>
																<div class="col-md-2 form-group">
																	<select class="form-control selectpicker" ng-change="evaluateFieldsPopulated()" ng-model="question.tipo">
																		<option value="">Select</option>
																		<option value="Sentence">Sentence</option>
																		<option value="Gap">Gap</option>
																	</select>
																</div>
																<div class="col-md-2 form-group">
																	<button ng-click="deletePronunciationQuestionPart(question, $index)">
															         	<i class="fa fa-trash fa-2x" style="color:red"></i>
															       </button>
																</div>
															</div>
															
														</fieldset>
													</div>
												</div>	
											
											</uib-tab>
											<uib-tab index="5" heading="Writing Practice">
											
												<div class="row">
													<div class="col-md-12 form-group">
														<div ng-show="modalError" class="alert alert-danger">{{modalError}}</div>
													</div>
												</div>
											
												<div class="row">
													<div class="col-md-10 form-group">
														<label>Question</label>
														<input class="form-control" type="text" ng-model="writingQuestao.writingQuestao" maxlength="500"/>
													</div>
												</div>	
											
											</uib-tab>
										</uib-tabset>
											
									</div>
									<div class="modal-footer">
										<div class="row">
											<div class="col-md-12 form-group" style="text-align: right;">
												<button type="button" class="btn btn-default" ng-click="clearActivitiesModal(); activeForm = 0;" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-default" ng-click="saveActivitiesModal(); activeForm = 0;" ng-disabled="activitiesForm.$invalid">Save</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
	   				
	   				<!-- Song Modal -->
					<div id="musicModal" class="modal fade" data-backdrop="static" role="dialog">
						<div class="modal-dialog modal-lg">
							<form name="formMusic" role="form">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title" style="font-weight: bold;">New Song</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-12 form-group">
												<label>Name *</label>
												<input ng-model="musicName" class="form-control" type="text" maxlength="30" required/>
											</div>
											<div class="col-md-12 form-group">
												<label>Singer *</label>
												<input ng-model="musicSinger" class="form-control" type="text"  maxlength="20" required/>
											</div>
											<div class="col-md-12 form-group">
												<label>Youtube Link *</label>
												<input ng-model="musicLink" class="form-control" type="text" maxlength="50" required/>
											</div>
											<div class="col-md-12 form-group">
												<label>Lyrics *</label>
												<textarea ng-model="musicLyrics" class="form-control" rows="8" required></textarea>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<div class="row">
											<div class="col-md-12 form-group" style="text-align: right;">
											  	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
											  	<button type="button" ng-click="saveMusicModal()" ng-disabled="formMusic.$invalid" class="btn btn-default" data-dismiss="modal">Save</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					
	 			</div>
                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div ng-init="initLessonAddOrEdit()"></div>

</body>