<nav class="navbar navbar-fixed-top navbar-bootsnipp animate" role="navigation"></nav>
<div class="container">
	<div class="container">
		<div class="row" style="margin-top:10px;" ng-controller="signupCtrl">
			<div class="col-md-8 col-md-offset-2">
				<fieldset>
					<h3 class="sign-up-title" style="color:dimgray; text-align: center">Sign up</h3>
						
					<hr class="colorgraph">
		
					<div ng-show="error" class="alert alert-danger">{{error}}</div>
		
					<div ng-show="!registered">
					
						<form name="form" role="form">
						
							<div id="spinner" ng-show="dataLoading" class="loading">Loading&#8230;</div>
						
	               			<fieldset class="scheduler-border">
								<legend class="scheduler-border">Personal Data</legend>
								<div class="row">
									<div class="col-md-6 form-group">
										<div class="form-group">
											<label for="fullnameInput">First Name *</label>
											<input type="text" class="form-control" ng-model="newrecord.nome" id="firstNameInput" placeholder="First Name" maxlength="50" required>
										</div>
										<div class="form-group">
											<label for="lastNameInput">Last Name *</label>
											<input type="text" class="form-control" ng-model="newrecord.sobrenome" id="lastNameInput" placeholder="Last name" maxlength="50" required>
										</div>
										<div class="form-group">
											<label for="emailInput">Email *</label>
								        	<input type="text" name="emailInput" id="emailInput" class="form-control" ng-model="newrecord.email" placeholder="Email" maxlength="50" required />
										</div>
										<div class="form-group">
											<label for="gender">Gender *</label>
											<select class="form-control selectpicker"  ng-model="newrecord.genero" id="gender" required>
												<option value="">Select a value</option>
												<option>Male</option>
												<option>Female</option> 
											</select>
										</div>
										<div class="form-group">
											<label for="accountTypeInput">Account Type *</label>
											<select class="form-control selectpicker" ng-model="newrecord.tipoConta" id="accountTypeInput" required>
												<option value="">Select a value</option>
												<option>Student</option>
												<option>Teacher</option>
											</select>
										</div>
									</div>
									<div class="col-md-6 form-group">
										
										<div class="form-group">
											<label for="country">Country *</label>
											<select class="form-control selectpicker" ng-model="newrecord.pais" id="country" required>
												<option value="">Select a value</option>
												<option ng-repeat="country in paises" value="{{country.nome}}">{{country.nome}}</option>
											</select> 
										</div>
									
										<div class="form-group" ng-if="newrecord.tipoConta == 'Teacher'">
											<label for="specialty">Specialty *</label>
											<select class="form-control selectpicker"  ng-model="newrecord.especialidade" id="specialty" required>
												<option value="">Select a value</option>
												<option>Private teacher</option>
												<option>Free-course teacher</option>
												<option>School teacher</option>
											</select>
										</div>
										<div class="form-group" ng-if="newrecord.especialidade == 'Free-course teacher' || newrecord.especialidade == 'School teacher'">
											<label for="institutionNameInput">Name of institution *</label>
											<input type="text" class="form-control" ng-model="newrecord.nomeInstituicao" id="institutionNameInput" placeholder="Name of institution" maxlength="50" required>
										</div>
										<div class="form-group">
											<label for="password">Password *</label>
								        	<input type="password" name="password" id="password" class="form-control" ng-model="newrecord.password" placeholder="Password" maxlength="50" required />
										</div>
										<div class="form-group">
											 <label for="confirmPassword">Confirm password *</label>
								        	<input type="password" name="confirmPassword" id="password" class="form-control" ng-model="newrecord.confirmPassword" placeholder="Confirm password" maxlength="50" required />
										</div>
									</div>
								</div>
							</fieldset>
			               	
							<div style="text-align: center;">
								<a ui-sref="index" href="#">
			   						<input class="btn btn-lg btn-success" type="submit" value="Cancel"/>
								</a>
			    				<input type="submit" ng-disabled="form.$invalid" ng-click="signup(newrecord)" class="btn btn-lg btn-success" value="Sign-up"/>
			   				</div>
			   				
		   				</form>
		   				
		 			</div>
		 			
		 			<div ng-show="registered" class="alert alert-info">Account successfully registered.</div>
		
					<div ng-show="registered">
						<div style="text-align: center;">
							<a ui-sref="index" href="#">
		   						<input class="btn btn-lg btn-success" type="submit" value="Go to login"/>
							</a>
		   				</div>
		 			</div>
		   				
				</fieldset>
			</div>
		</div>
	</div>
	
	<div ng-init="init()"></div>
</div>