<nav class="navbar navbar-fixed-top navbar-bootsnipp animate" role="navigation"></nav>
<div class="container">
	<div class="container">
		<div class="row" style="margin-top:10px;" ng-controller="signupCtrl">
			<div class="col-md-8 col-md-offset-2">
				<fieldset>
					<h3 class="sign-up-title" style="color:dimgray; text-align: center">Sign up</h3>
						
					<hr class="colorgraph">
		
					<div ng-show="error" class="alert alert-danger">{{error}}</div>
		
					<div ng-show="!registered">
					
						<form name="form" role="form">
						
			               	<div class="row">
			               		<div class="col-md-6">
			               			<fieldset class="scheduler-border">
										<legend class="scheduler-border">Personal Data</legend>
										<div class="form-group">
											<label for="fullnameInput">Fullname *</label>
											<input type="text" class="form-control" ng-model="newrecord.nome" id="fullnameInput" placeholder="Fullname" maxlength="50" required>
										</div>
										<div class="form-group">
											<label for="phoneInput">Phone</label>
											<input type="text" class="form-control" ng-model="newrecord.telefone" id="phoneInput" placeholder="Phone" maxlength="11">
										</div>
										<div class="form-group">
									        <label for="emailInput">Email *</label>
									        <input type="text" name="emailInput" id="emailInput" class="form-control" ng-model="newrecord.email" placeholder="Email" maxlength="50" required />
									    </div>
										<div class="form-group">
											<label for="accountTypeInput">Account Type *</label>
											<select class="form-control selectpicker"  ng-model="newrecord.tipoConta" id="accountTypeInput" required>
												<option value="">Select a value</option>
												<option>Student</option>
												<option>Teacher</option>
											</select>
										</div>
										<div class="form-group">
									        <label for="password">Password *</label>
									        <input type="password" name="password" id="password" class="form-control" ng-model="newrecord.password" placeholder="Password" maxlength="50" required />
									    </div>
										
									</fieldset>
			               		</div>
			               		<div class="col-md-6">
			               			<fieldset class="scheduler-border">
										<legend class="scheduler-border">Address</legend>
										<div class="form-group">
											<label for="streetAddressInput">Street Address</label>
											<input type="text" class="form-control" ng-model="newrecord.logradouro" id="streetAddressInput" placeholder="Street Address" maxlength="50">
										</div>
										<div class="form-group">
											<label for="neighborhoodInput">Neighborhood</label>
											<input type="text" class="form-control" ng-model="newrecord.bairro" id="neighborhoodInput" placeholder="Neighborhood" maxlength="50">
										</div>
										<div class="form-group">
											<label for="cityInput">City</label>
											<input type="text" class="form-control" ng-model="newrecord.cidade" id="cityInput" placeholder="City" maxlength="20">
										</div>
										<div class="form-group">
											<label for="zipCodeInput">Zip Code</label>
											<input type="text" class="form-control" ng-model="newrecord.cep" id="zipCodeInput" placeholder="Zip Code" maxlength="9">
										</div>
									</fieldset>
			               		</div>
			               	</div>
			               	
							<div style="text-align: center;">
								<a ui-sref="index" href="#">
			   						<input class="btn btn-lg btn-success" type="submit" value="Cancel"/>
								</a>
			    				<input type="submit" ng-disabled="form.$invalid || dataLoading" ng-click="signup(newrecord)" class="btn btn-lg btn-success" value="Sign-up"/>
			   				</div>
			   				
			   				<img ng-show="dataLoading" src="img/loading-animation-square.gif"/>
			   				
		   				</form>
		   				
		 			</div>
		 			
		 			<div ng-show="registered" class="alert alert-info">Account successfully registered.</div>
		
					<div ng-show="registered">
						<div style="text-align: center;">
							<a ui-sref="index" href="#">
		   						<input class="btn btn-lg btn-success" type="submit" value="Go to login"/>
							</a>
		   				</div>
		 			</div>
		   				
				</fieldset>
			</div>
		</div>
	</div>
</div>