
<!-- Bootstrap Core CSS -->
<!--<link href="lib/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!--<link href="lib/css/sb-admin.css" rel="stylesheet">

<!-- Custom Fonts -->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

<body ng-controller="forumCtrl">

	<div class="row"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2">
                <a class="navbar-brand">Menu</a> 
            </div>
            <div>
                <a class="navbar-brand"><i class="fa fa-bars"></i> Web Platform for English Learning</a> 
            </div>
            
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <a class="navbar-brand">Welcome {{loggedUser.nome}}!</a> 
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<li ng-if="loggedUser.tipoConta == 'Teacher'"> 
                        <a ui-sref="exercisesManagement"><i class="fa fa-fw fa-edit"></i> Lesson Management</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Teacher'">
                        <a ui-sref="invitation"><i class="fa fa-fw fa-users"></i> Invitation</a>
                    </li>
                    <li ng-if="loggedUser.tipoConta == 'Student'">
                        <a ui-sref="solveExercises"><i class="fa fa-fw fa-puzzle-piece"></i> Solve Lessons</a>
                    </li>
                    <li>
                        <a ui-sref="performance"><i class="fa fa-fw fa-line-chart"></i> Performance Report</a>
                    </li>
                    <li>
                        <a ui-sref="ranking"><i class="fa fa-fw fa fa-trophy"></i> Ranking</a>
                    </li>
                    
                    <li>
                        <a ui-sref="personalData"><i class="fa fa-fw fa-address-book"></i> Personal Data</a>
                    </li>
                    <li class="active">
                        <a ui-sref="forumMain"><i class="fa fa-fw fa-comments"></i> Forum</a>
                    </li>
                    <li>
                        <a ui-sref="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
        
       		<form name="forumMainForm" role="form">

	            <div class="container-fluid">
	
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                            Forum
	                        </h1>
	                        <ol class="breadcrumb">
	                            <li>
	                                <i class="fa fa-home"></i>  <a ui-sref="main">Home</a>
	                            </li>
	                            <li>
	                                <i class="fa fa-comments"></i> <a ui-sref="forumMain">Forum</a>
	                            </li>
	                            <li class="active">
	                                <i class="glyphicon glyphicon-pushpin"></i> Topic
	                            </li>
	                        </ol>
	                    </div>
	                </div>
	                <!-- /.row -->
	                
	                <div ng-if="error" class="alert alert-danger">{{error}}</div>
	                
	                <div ng-repeat="post in posts"> 

						<!-- POST -->
						<div class="post topic" ng-if="!post.postRespondido">
							<div class="topwrap">
								<div class="userinfo pull-left">
									<div class="avatar">
										<img src="img/avatar.png" height="37" width="37">
									</div>
								</div>
								<div class="posttext pull-left">
									<p>{{post.texto}}</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="postinfobot">

								<div class="prev pull-left">
									<a ng-click="replyAnotherPost(post)" href="#"><i class="fa fa-reply" title="Reply"></i></a>
								</div>

								<div class="posted pull-left">
									<i class="fa fa-clock-o"></i> Posted on : {{post.dataPostagem | date:"dd MMM"}} @ {{post.dataPostagem | date:"h:mma"}}
								</div>

								<div class="clearfix"></div>
							</div>
						</div>
						<!-- POST -->

						<!-- POST -->
						<div class="post topic" ng-if="post.postRespondido">
							<div class="topwrap">
								<div class="userinfo pull-left">
									<div class="avatar">
										<img src="img/avatar.png" height="37" width="37">
									</div>

								</div>
								<div class="posttext pull-left">

									<blockquote>
										<span class="original">Original Posted by - {{post.postRespondido.aluno ? post.postRespondido.aluno.nome : post.postRespondido.professor.nome}}</span>
										{{post.postRespondido.texto}}
									</blockquote>
									<p>{{post.texto}}</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="postinfobot">

								<div class="prev pull-left">
									<a ng-click="replyAnotherPost(post)" href="#"><i class="fa fa-reply" title="Reply"></i></a>
								</div>

								<div class="posted pull-left">
									<i class="fa fa-clock-o"></i> Posted on : {{post.dataPostagem | date:"dd MMM"}} @ {{post.dataPostagem | date:"h:mma"}}
								</div>

								<div class="clearfix"></div>
							</div>
						</div>
						<!-- POST -->

					</div>

					<!-- POST -->
					<div class="post topic" ng-if="postTemp.postRespondido">
						<div class="topwrap">
							<div class="userinfo pull-left">
								<div class="avatar">
									<img src="img/avatar.png" height="37" width="37">
								</div>
							</div>
							<div class="posttext pull-left">
								<blockquote>
									<span class="original">Original Posted by - {{postTemp.postRespondido.aluno ? postTemp.postRespondido.aluno.nome : postTemp.postRespondido.professor.nome}}</span>
									{{postTemp.postRespondido.texto}}
								</blockquote>

								<div class="textwraper">
									<div class="postreply">Post a Reply</div>
									<textarea ng-model="postTemp.texto" name="reply" id="reply"
										placeholder="Type your message here"></textarea>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="postinfobot">

							<div class="pull-right postreply">
								<div class="pull-left">
									<button type="button" ng-click="replyPost()"
										class="btn btn-primary">Post Reply</button>
								</div>
								<div class="clearfix"></div>
							</div>


							<div class="clearfix"></div>
						</div>
					</div>
					<!-- POST -->

					<!-- POST -->
					<div class="post topic" ng-if="!postTemp.postRespondido">
						<div class="topwrap">
							<div class="userinfo pull-left">
								<div class="avatar">
									<img src="img/avatar.png" height="37" width="37">
								</div>
							</div>
							<div class="posttext pull-left">
								<div class="textwraper">
									<div class="postreply">Post a Reply</div>
									<textarea ng-model="postTemp.texto" name="reply" id="reply"
										placeholder="Type your message here"></textarea>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="postinfobot">

							<div class="pull-right postreply">
								<div class="pull-left">
									<button type="button" ng-click="replyPost()"
										class="btn btn-primary">Post Reply</button>
								</div>
								<div class="clearfix"></div>
							</div>


							<div class="clearfix"></div>
						</div>
					</div>
					<!-- POST -->

				</div>
	            <!-- /.container-fluid -->
	            
            </form>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div ng-init="initTopic()"></div>
    
</body>